---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home | NicSys Consulting">
	<main style="display: flex; justify-content: center; align-items: center; min-height: 80vh; font-family: 'JetBrains Mono', monospace; dark:bg-gray-800 ">
		<div style="display: flex; flex-direction: column; align-items: center; gap: 1rem; dark:bg-gray-800">
			<div style="display: flex; align-items: center; font-size: 4rem; font-weight: 700;" class="text-foreground">
				<span>NICHE</span>
				{/* Place a logo.svg in your 'public' folder */}
				<img 
					src="/logo_grey.svg" 
					alt="NS" 
					width="170px"
					style={{ margin: '2rem' }}
				/>
				<span>SYSTEMS</span>
			</div>
			<p style="font-size: 1rem; font-weight: 400; letter-spacing: 0.2em; text-transform: uppercase;" class="text-foreground">
				Software Engineering Consulting & Contracting
			</p>
		</div>
	</main>
</Layout>